/***********************************/
/*           CUSTOM CSS            */
/***********************************/

/* fix theme: box in hero*/
.top_container::after {
    visibility: hidden;
}

/* fix padding about*/
.info_section .about {
    margin: 0;
}


.navbar {
    background: #e4c234de;
}

.fixed-top{
    padding: 10px 10% 10px 10%  !important;
}

.txt-center{
    text-align: center;
}



/** index */
.hero-container{
    padding: 80px 0 300px 0;
}

.hero_section p{
    font-size: 1.1em;
}

.hero-row-btn{
    padding-top: 40px;
    position: absolute; 
    width:100%;
    left:0;
    text-align: center;
    margin: auto;
}

.hero_btn_left{
    margin-left: 80px;
}

.hero_btn_right{
    margin-right: 30%;
}

.hero_btn-continer a{
    background: #FFF4AC;
}

.left{
    text-align: left;
}

.hero_btn-container{
    display: flex;
    justify-content: center;
  }

.hero_img-container{
    margin: auto;
}

.contact_form-container{
    color: #6c757d;
}

.voluntarios a{
color: white;
background: #FFF4AC;
}

#voluntarios button{
    background: #fdd31d;
}

.ayuda a{
color: white;
background: #FFF4AC;
}

.asociaciones a{
background: #FFF4AC;
}



/** protocolos */

.common_style p{
text-align: left;
}

.protocol_section a{
    font-size: 1.1em;
    width: 400px;
    /*text-shadow: 4px 4px 14px #000000*/
}

.protocol-container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 0px;
  }

.protocol_detail-box {
    width: 40%;
}

.protocol_detail-box h1 {
    padding-top: 30px;
    font-size: 50px;
    color: #fefeff;
    font-weight: 600;
    width: 100%;
}

.protocol_detail-box p {
margin-top: 20px;
margin-bottom: 35px;
}

.protocol-img img{
    padding-top: 50px;
}

.enlaces_section a {
    background: #007DFF;
    color: white;
}

.admission_detail-box{text-align:center;}

.compras_section a {
background-color: #232F3E;
color: #fefeff;
}

.riesgo_section a {
background-color: #EF8201;
color: #fefeff;
}

.informacion_section a {
background-color: #01B399;
color: #fefeff;
}

.emocional_section a {
background-color: rgb(112, 125, 180);
color: #fefeff;
}

    
/** thanks */

.thanks_section {
    padding-bottom: 150px;
}

.thanks_section h1{
    padding-top: 130px;
}

.hero_img-container {
    width: 60%;
}

.thanks .row{
    margin-right: 0px;
    margin-left: 0px;
}

.thanks-container {
    display: flex;
}

.creators {
    padding: 20px;
}

.creators{
    text-align: center;
}
.creators img {
    padding:10%;
}
.abi-logo{
    width: 30% !important;
}

.client_detail-box p{
    font-size: 0.9em ;
}

.white-color a{
    color: white;
    text-decoration: none;
}


/** login */

.login_section{
    padding-top: 100px;
}
