@media (max-width: 1800px)  {

    /* Navigation */
    .custom-nav-container {
        padding: 1% 5%;
    }

}


@media (max-width: 1440px)  {

    /** Index  */
    .top-container{
        height: 990px;
    }

    /* Navigation */
    .custom-nav-container {
        padding: 1% 5%;
    }

    .nav-item {
        width: 160px;
    }

    .top-login{
        background-image: url(../images/background/Mancha_Home_Azul_TuVecinoTeAyuda.svg);
        background-size:cover;
        height: 1050px;
    }

    .login-footer{
        margin-top: -10%;
    }

    .top-thanks {
        height: 900px;
    }

    .thanks-hero-img{
        padding-top: 7%;
    }
}

@media (max-width: 1200px){
    .hero-title-orange{font-size: 1.8em;}
}

@media (max-width: 1024px)  {
    
    /* Navigation */
    .custom-nav-container {
        padding: 1% 5%;
    }

    .nav-item{
        font-size: 1em;
    }


    .navbar-brand {
        padding: 0;
        margin-right: 0;
    }

    /* Hero */
    .hero-title-orange{
        font-size: 2em;
    }

    .hero-title-org{
        font-size: 1.2em;
    }

    .hero-img{
        padding-top: 45%;
    }

    .help-img,
    .volunteer-img,
    .association-img{
        margin-top: 8%;
    }

    .user-form-submit button {
        padding: 15px 50px;
    }

    /** Login */
    .login-form-text h1{
        font-size: 2.5em;
        margin-top: 15%;
    }
    
    .login-form-text p{
        font-size: 1.4em;
        padding-top: 2%;
    }

    .login-footer{
        margin-top: -20%;
    }

    .thanks-hero-text{
        text-align: center;
    }

}

@media (max-width: 992px)  {
    .user-form-img img {
        padding-top: 3%;
    }
}

@media (max-width: 768px)  {
    
    /* Display */
    .sm-none{
        display: none;
    }
    
    .private-zone{
        margin-left: 0;
    }

    /* Hero */
    .top-container{
        height: 1100px;
    }

    .hero-title{
        text-align: center;
    }

    .hero-text{
        text-align: center;
    }

    .hero-title-white{ 
        font-size: 1em;
        padding-left: 0px;
        margin-left: 0px;
    }
    
    .hero-title-orange{
        font-size: 1.7em;
        padding-left: 0px;
    }

    .hero-title-org{
        font-size: 1em;
        padding-left: 0px;
    }
    .hero-img{
        margin: auto;
        width: 35%;
        padding: 0;
    }

    .hero-btn-help, 
    .hero-btn-volunteer{
        text-align: center;
        padding: 3% 0;
        margin: 3% 3%;
    }

    .hero-btn-help a,
    .hero-btn-volunteer a{
        padding: 0;
    }

    .help-img,
    .association-img{
        margin-top: 20%;
    }

    /* Call-to-Action */
    .call-btn-help a , 
    .call-btn-volunteer a, 
    .call-btn-association a {
        font-size: 1.3em;
    }
    
    /* Volunteer */
    .volunteer-img{
        margin-top: 15%;
    }

    /* Form */
    .user-form-img img {
        padding-top: 2%;
        width: 100%;
    }

    
    /* Login */
    .top-login {
        height: 1500px;
    }


    .login-img{       
        padding-top: 5%;
        margin: auto;
        width: 50%;
    }

    .login-footer{
        margin-top: -50%;
    }

    /** Register-Confirm */
    .register-section{
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .register-img{
        width: 50%;
        margin: auto;
    }

    /* Slide */
    .slide{
        margin-top: 5%;
    }

    .slide h3{
        font-size: 1.25em;
    }

    /* Footer */
    .footer-about{
        text-align: center;
    }

    .footer-title img {
        margin-left: 10%;
        width: 80%;
    }

    /* Carousel */
    .carousel-item {
        width: 80%;
    }

    .carousel-item img {
        margin-left: 25%;
    }

    /** Thanks */
    .top-thanks {
        height: 775px;
    }

    .thanks-hero-img{
        display: none;
    }


    /** Sintomas  */

    .sintomas-section{
        padding-top: 10%;
    }

    .diarrea img{
        padding-top: 0;
    }

    /* OLD VERSION */

    /** Thanks */
    /* .thanks_section h1{
        font-size: 1.5em;
    }
    .creators img{
        width: 90%;
        padding: 5% !important;
       text-align: center;
    }

    .thanks img{
        width: 100%;
        padding: 0px !important;
        margin: 0px;
    }

    .abi-logo{
        width: 35% !important;
    }

    .wrap{
        width: 21%; 
    } */
    
}


@media (max-width: 450px){
    .hero-title-orange{
        font-size: 1.3em;
    }
}


@media (max-width: 425px)  {

    .text-right {
        text-align: center!important;
    }

    /* Display */
    .sl-none{
        display: none;
    }

    /* Hero */
    .top-container{
        height: 1130px;
    }

    .hero-title-orange{
        font-size: 1.3em;
    }

    .hero-title-org{
        font-size: 1.1em;
    }

    .hero-section .row {
        padding-top: 20%;
    }

    .help-container h2,
    .association h2 {
        font-size: 1.5em;
    }

    .call-to-action{
        text-align: center;
    }

    .help,
    .volunteer,
    .association{
        margin-top: 30%;
    }

    /* Call-to-Action */
    .call-btn-help, 
    .call-btn-volunteer, 
    .call-btn-association {
        padding: 15px 0px;
    }

    /* Slide */
    .slide{
        margin-top: 15%;
    }

    .slide h3{
        font-size: 1em;
    }

    .slide-img {
        padding: 8%;
    }

    h4 {
        font-size: 1.3rem;
    }

    /* Carousel */
    .carousel-item{
        width: 70%;
    }

    .carousel-item img {
        margin-left: 35%;
        margin-bottom: 5%;
    }

    /* Form-Volunteers*/
    .user-form-text h1{
        font-size: 2.5em;
    }

    .user-form-section .row {
        padding-top: 7%;
    }

    .user-form-text p {
        font-size: 1em;
    }

    .user-form-check input {
        margin-top: 0%;
    }

    /** Login */
    .login-form-text h1{
        font-size: 2em;
        margin-top: 25%;
        text-align: center;
    }
    
    .login-form-text p{
        font-size: 1.2em;
        padding-top: 2%;
        text-align: center;
    }

    .login-form-input{
        text-align: center;
    }

    .login-form-input input{
        text-align: center;
    }

    .user-form-check input {
        margin-top: 0;
    }

    .login-footer{
        margin-top: -150%;
    }

    /** Register-Confirm */
    .register-section{
        padding-top: 15%;
    }

    /** Thanks  */
    .top-thanks {
        height: 700px;
    }

    .thanks-hero-title {
        font-size: 2.5em;
    }

    .thanks-title h2,
    .creators-title h2{
        font-size: 2em;
    }

    .abi-logo{
        padding: 10% 0 0 0;
    }

    .bemetrics {
        padding: 10% 10% 0 10%;
    }

    .codaprot {
        padding: 15% 0 0 0;
    }

    .nesiweb {
        padding: 10% 0 0 0;
    }

    .esgueva{
        padding: 5% 10% 0 10%;
    }

    .oxigeno{
        padding: 0 30% 5% 30%;
    }

    .zenos{
        padding: 5% 30% 5% 30%;
    }

    .rsb{
        padding: 5% 30% 5% 30%;
    }

    .barreras {
        padding: 5% 30% 5% 30%;
    }


    /** Sintomas  */
    .sintomas-title{
        font-size: 1.5em;
    }

    .sintomas-section{
        padding-top: 25%;
    }

    .sintomas-section h1{
        font-size: 2em;
    }

    .sintomas-img img { 
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media (max-width: 375px)  {
    /* Hero */
    .top-container{
        height: 1170px;
    }

    .hero-title {
        font-size: 2em;
        padding-top: 3%;
    }

    /** Login */
    .login-form-input {
        font-size: 1em;
    }

    .login-form-text h1{
        font-size: 1.7em;
        margin-top: 25%;
    }
    
    .login-form-text p{
        font-size: 1em;
        padding-top: 2%;
    }

    .login-footer{
        margin-top: -200%;
    }
}

@media (max-width: 320px)  {
    
    /* Hero */
 
    .top-container{
        margin-top: 5%;
        height: 1375px;
    }

    .hero-title-orange{
        font-size: 1.2em;
    }

    .hero-title-org{
        font-size: 1.1em;
    }

    .call-btn-association a{
        padding: 0;
    }

    /* Form-Volunteers*/
    .user-form-section .row {
        padding-top: 15%;
    }

    .user-form-submit button {
        padding: 15px 60px;
    }

    /** Login */
    .login-form-text h1{
        font-size: 1.4em;
        margin-top: 35%;
    }
    
    .login-form-text p{
        font-size: 1em;
        padding-top: 2%;
    }

    .login-footer{
        margin-top: -240%;
    }

    /** Thanks  */
    .thanks-hero-title{
        font-size: 2em;
    }

    /** Sintomas  */

    .sintomas-section{
        padding-top: 20%;
    }

    .sintomas-section h1{
        font-size: 1.5em;
    }
}