@media (max-width: 1900px)  {

    /* Navigation */
    .nav-item{
        padding: 0 1% ;
    }

}


@media (max-width: 1800px)  {

    /* Navigation */
    .custom-nav-container {
        padding: 1% 5%;
    }

}


@media (max-width: 1440px)  {
   
    /* Navigation */
    .custom-nav-container {
        padding: 1% 5%;
    }

    .nav-item {
        width: 150px;
    }

}


@media (max-width: 1024px)  {
    
    /* Navigation */
    .custom-nav-container {
        padding: 1% 5%;
    }

    /* Hero */
    .hero-img{
        padding-top: 45%;
    }

    .help-img,
    .volunteer-img,
    .association-img{
        margin-top: 8%;
    }

    .user-form-submit button {
        padding: 15px 50px;
    }

}

@media (max-width: 768px)  {
    
    /* Display */
    .sm-none{
        display: none;
    }
    
    /* Hero */
    .hero-title{
        text-align: center;
    }

    .hero-text{
        text-align: center;
    }

    .hero-title-white{ 
        font-size: 1em;
        padding-left: 0px;
        margin-left: 0px;
    }
    
    .hero-title-orange{
        font-size: 1.7em;
        padding-left: 0px;
    }

    .hero-title-org{
        font-size: 1em;
        padding-left: 0px;
    }
    .hero-img{
        margin: auto;
        width: 35%;
        padding: 0;
    }

    .hero-btn-help, 
    .hero-btn-volunteer{
        text-align: center;
        padding: 3% 0;
        margin: 3% 3%;
    }

    .help-img,
    .association-img{
        margin-top: 20%;
    }

    /* Call-to-Action */
    .call-btn-help a , 
    .call-btn-volunteer a, 
    .call-btn-association a {
        font-size: 1.3em;
    }
    
    /* Volunteer */
    .volunteer-img{
        margin-top: 15%;
    }

    /* Slide */
    .slide{
        margin-top: 5%;
    }

    .slide h3{
        font-size: 1.25em;
    }

    /* Footer */
    .footer-about{
        text-align: center;
    }

    .footer-title img {
        margin-left: 10%;
        width: 80%;
    }

    /* Carousel */
    .carousel-item {
        width: 80%;
    }

    .carousel-item img {
        margin-left: 25%;
    }

    /* Form-Volunteers*/
    .user-form-img img {
        width: 100%;
        padding-top: 2%;
    }
    
}


@media (max-width: 425px)  {
    
    /* Display */
    .sl-none{
        display: none;
    }

    /* Hero */
    .hero-section .row {
        padding-top: 20%;
    }

    .help-container h2,
    .association h2 {
        font-size: 1.5em;
    }

    .help,
    .volunteer,
    .association{
        margin-top: 30%;
    }

    /* Call-to-Action */
    .call-btn-help, 
    .call-btn-volunteer, 
    .call-btn-association {
        padding: 15px 0px;
    }

    /* Slide */
    .slide{
        margin-top: 15%;
    }

    .slide h3{
        font-size: 1em;
    }

    .slide-img {
        padding: 8%;
    }

    h4 {
        font-size: 1.3rem;
    }

    /* Carousel */
    .carousel-item{
        width: 70%;
    }

    .carousel-item img {
        margin-left: 35%;
        margin-bottom: 5%;
    }

    /* Form-Volunteers*/
    .user-form-text h1{
        font-size: 2.5em;
    }

    .user-form-section .row {
        padding-top: 7%;
    }

    .user-form-text p {
        font-size: 1em;
    }

    .user-form-check input {
        margin-top: 0%;
    }
}


@media (max-width: 375px)  {
    /* Hero */
    .hero-title {
        font-size: 2em;
        padding-top: 3%;
    }
}


@media (max-width: 320px)  {
    /* Hero */
    .hero-title-orange{
        font-size: 1.5em;
    }

    /* Form-Volunteers*/
    .user-form-section .row {
        padding-top: 15%;
    }

    .user-form-submit button {
        padding: 15px 60px;
    }
}